<header class="mb-5">
    <nav class="navbar is-primary has-shadow">
            <a href="/" class="navbar-item">Home</a>
            <a href="/bylaws" class="navbar-item">Bylaws</a>
            <a href="/requirements" class="navbar-item">Membership Requirements</a>
            {{#if user}}
            {{#if user.isMember}}
            <a href="/tutor" class="navbar-item">Update Tutoring Availability</a>
            <a href="/logging" class="navbar-item">Log Community Service/Tutoring Hours</a>
            {{else}}
            <a href="/calendar" class="navbar-item">Get Tutoring</a>
            {{/if}}
            <a href="/logout" class="navbar-item">Logout</a>
            {{else}}
            <a href="/auth" class="navbar-item">Login</a>
            {{/if}}
    </nav>
</header>