<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_meta}}
    <title>BCA National Honor Society</title>
</head>

<body>
    {{> header}}
        <h1>BCA NHS</h1>
        <a href="/auth">Get Tutoring</a>
    {{> footer}}
</body>

</html>