<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_meta}}
    <title>BCA National Honor Society</title>
</head>

<body>
    {{> header}}
    <h1>Logging</h1>
    <h2>Tutoring Hours</h2>
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfw9bLmnE_Fz3B0ero-k2ymXZ27Ci0LyMIYeS0IHi5Xur1-ug/viewform?embedded=true"
        width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <h2>Community Service</h2>
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScv9_465slF0HDpyVQdYxXYHZBr_W7cx3fyiHdFJnYGdzHBxg/viewform?embedded=true"
        width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    {{> footer}}
</body>

</html>